.container{
    margin-bottom: 50px;
}
body {
    font-family: 'Poppins', ;
}
.navbar{
    width: 100%;
}
.buy-now-button{
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 9px 10px;
    border: none;
    cursor: pointer;
}
.smartphone-section {
    margin-bottom: 50px;
}
.title-pad {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
}
